#pageHeader {
    background-color: #7B7D4E;
}

#navbar {
    background-color: #432E2D;
    padding-bottom: 8px
}

#headerHeader {
    text-align: center;
    padding-top: 12px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-variant: normal;
}

.display-1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
}

.display-2 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-size-adjust: auto;
}

.display-3 {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-size: 50px;
    text-align: center;
}

.nav-item.active {
    font-weight: 400;
}

#teamPic {
    float: right;
    max-height: 175px;
    width: auto;
    resize: both;
}

.mr-3 {
    max-width: 250px;
    height: auto;
}

#fancycol {
    border-style: solid;
    border-width: 5px;
    margin: 20px;

}

#headerImage {
    width: auto;
}

.card-img-top {
    padding-top: 5px;
    max-height: 150px;
    width: auto;
}

html {
    font-size: 1.2vw;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.6vw;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.6vw;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.8vw;
    }
}
